# From https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-wsl-resulting-in-many-modified-files
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.bin binary
*.ch8 binary
*.exe binary
*.fzz binary
*.gif binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.mp4 binary
*.woff binary
